In [1]:
import numpy as np

import pandas as pd

import matplotlib as mpl

import matplotlib.pyplot as plt

import seaborn as sns

In [21]:
data = pd.read_csv("data_info_area_show.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5698 entries, 0 to 5697
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Time                        5698 non-null   object
 1   Hong Kong Observatory       5698 non-null   int64
 2   King's Park                 5698 non-null   int64
 3   Wong Chuk Hang              5698 non-null   int64
 4   Ta Kwu Ling                 5698 non-null   int64
 5   Lau Fau Shan                5698 non-null   int64
 6   Tai Po                      5698 non-null   int64
 7   Sha Tin                     5698 non-null   int64
 8   Tuen Mun                    5698 non-null   int64
 9   Tseung Kwan                 5698 non-null   int64
 10  Sai Kung                    5698 non-null   int64
 11  Cheung Chau                 5698 non-null   int64
 12  Chek Lap Kok                5698 non-null   int64
 13  Tsing Yi                    5698 non-null   int64
 14  Shek Kong                   5698 non-null   int64
 15  Tsuen Wan Ho Koon           5698 non-null   int64
 16  Tsuen Wan Shing Mun Valley  5698 non-null   int64
 17  Hong Kong Park              5698 non-null   int64
 18  Shau Kei Wan                5698 non-null   int64
 19  Kowloon City                5698 non-null   int64
 20  Happy Valley                5698 non-null   int64
 21  Wong Tai Sin                5698 non-null   int64
 22  Stanley                     5698 non-null   int64
 23  Kwun Tong                   5698 non-null   int64
 24  Sham Shui                   5698 non-null   int64
 25  Kai Tak Runway Park         5698 non-null   int64
 26  Yuen Long Park              5698 non-null   int64
 27  Tai Mei Tuk                 5698 non-null   int64
dtypes: int64(27), object(1)
memory usage: 1.2+ MB

Time 范围 2022.10.01 - 2023.11.01